<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script>var apiKey = '<%= process.env.API_KEY %>';</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>

  <h1>Hello Ro!</h1>

  <p id="demo">
    I wanted to wish you...
  </p>

  <button type="button" onclick="myFunction()">
    Click here!
  </button>

  <br>
  <br>
  <p>Get the exchange rate from U.S. Dollars to any currency!</p>
  <form id="currency_form" onsubmit="currFormSubmit()">
  	<input type="text" name="Currency:">
  	<input type="submit" value="Submit">
  </form>

  <div class="curr1"></div>
  <div class="curr2"></div>
  <div class="xchgRate"></div>
  
  

</body>

</html>